header.topHeader {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-color: #e09bbd;
  background-image: url("../images/45-degree-fabric-light.png");
}

header div {
  display: flex;
}

.avatar {
  justify-content: center;
  align-items: center;
}

.name {
  justify-content: center;
}