.new-tweet {
  display: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.new-tweet h2 {
  display: none;
}

.new-tweet label {
  display: block;
  width: 100%;
}
.new-tweet textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #545149;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  font-family: font-family:'Bungee', sans-serif;
  margin: 1rem auto;
  font-family:'Bungee', sans-serif;
}

.new-tweet button {
  color: #fff;
  background-color: #4056A1;
}

.new-tweet output {
  color: #545149;
}

.new-tweet output.on {
  color: #f00;
}

.errorM {
  display: none;
  color: #fff;
  background-color: #f00;
  padding: .5em;
  text-align: center;
}