.new-tweet label {
  display: block;
  width: 100%;
}
.new-tweet textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #545149;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  font-family: font-family:'Bungee', sans-serif;
  margin: 1rem auto;
}

.new-tweet button {
  color: #fff;
  background-color: #4056A1;
}

.new-tweet output {
  color: #545149;
}

.new-tweet output.on {
  color: #f00;
}